html, body{
    background-color: rgb(251, 247, 244);
    overflow-x: hidden;
    user-select: none;
}


/*START MENU*/
#menu{
    width: 100vw;
    max-width: 1500px;
    margin-top: clamp(0.25rem, 1vw, 1rem);
    height: clamp(0.25rem, 2.5vw, 3rem);;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#text-menu{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
    left: 0;
}
#logo{
    position: relative;
    left: 0;
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(255, 111, 0);
    font-size: clamp(.25rem, 3vw, 2.5rem);
    cursor: default;
}
#text{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
#text span{
    font-size: clamp(0.35rem, 1.25vw, 1rem);
}
#text span:hover{
    transition: .3s all;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;
}


#utility-menu{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: clamp(0.45rem, 1.25vw, 1rem);
}
.icon{
    width: clamp(.35rem, 3vw, 2.5rem);
    height: clamp(.35rem, 3vw, 2.5rem);
}
.icon path{
    scale: 1;
}
#login-btn{
    width: 30%;
    height: 80%;
    background-color: orangered;
    border-radius: 2px;
    text-align: center;
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    cursor: pointer;
}
#login-btn:hover{
    background-color: rgb(183, 49, 0);
}
#user-account{
    width: clamp(.25rem, 3vw, 2.5rem);
    height: clamp(.25rem, 3vw, 2.5rem);
    z-index: 2;
    background-color: #111;
    border-radius: 50%;
}
#user-avatar{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: scale-down;
    object-position: center 30%;
}
/*END MENU*/



/*START BODY*/
#body{
    width: 100vw;
    height: 100svh;
    max-width: 1500px;
    max-height: 900px;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#cart-header{
    position: absolute;
    top: 20%;
    left: 5%;
    font-size: clamp(1rem, 2.5vw, 3rem);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}
#cart-item-container{
    position: relative;
    top: 12.5%;
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: space-around;
}
#item-list{
    width: 50%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding: 1rem;
    gap: 1rem;
}

#item-info{
    width: 90%;
    min-height: 15%;
    font-size: clamp(0.5rem, 1.2vw, 2rem);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.items{
    width: 90%;
    min-height: 22%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-flex;
    align-items: center;
}
#items-image-container{
    width: clamp(2rem, 5vw, 5.5rem);
    height: clamp(2rem, 5vw, 5.5rem);
    background-color: black;
    border-radius: 10px;
}
#items-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center 10%;
    border-radius: 10px;
}
#items-info-container{
    width: 39%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: clamp(0.25rem, 0.4vw, 0.7rem);
    padding-left: 5px;
}
#items-info-container span{
    font-size: clamp(0.35rem, 0.9vw, 1rem);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}


#info-list{
    width: 30%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#info-freeship{
    width: 100%;
    height: 30%;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    gap: clamp(0.5rem, 1vw, 1rem);
}
#freeship-progress-bar{
    width: 90%;
    height: 6%;
    border-radius: 20px;
    background-color: white;
}
#shipping-label{
    font-size: clamp(0.5rem, 1vw, 1rem);
}
#progress-bar{
    width: 10%;
    height: 100%;
    background-color: orangered;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}
#shipping-icon-container{
    width: clamp(.35rem, 3.5vw, 2.5rem);
    height: clamp(.25rem, 2.5vw, 2rem);
    background-color: black;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shipping-icon {
    position: relative;
    left: 3%;
    width: clamp(0.5rem, 1.25vw, 1rem);
    height: clamp(0.5rem, 1.25vw, 1rem);
    fill: rgb(255, 255, 255);
}
#info-total-order{
    width: 100%;
    height: 65%;
    background-color: black;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;

}
#info-total-order *{
    position: relative;
    left: 5%;
}
.info-total-order-span-container{
    width: 90%;
    height: 10%;
    display: flex;
    justify-content: start;
    gap: 70%;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}
#order-btn{
    width: 70%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
    left: 0;
    border-radius: 10px;
    background-color: orangered;
}
#order-btn:hover{
    background-color: rgb(209, 56, 0);
}
/*END BODY*/